section {
  display: grid;
  grid-auto-columns: 1fr;
  margin: 1rem auto;
  width: 90%;
  padding: 2rem;
  border-radius: 12px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #1e0f41;
  --color-bg-variant: #350f3a;
  --color-primary: #ff8640;
  --color-primary-variant: #705914;
  --color-white: #fff;
  --color-light: #ffffff99;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

.resualts__movies {
  text-align: center;
  margin-top: 2rem;
}
